Flask==3.0.3
Flask-Admin==1.6.1
Flask-Bootstrap4==4.0.2
Flask-Cors==5.0.0
Flask-Login==0.6.3
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
Jinja2==3.1.4
SQLAlchemy==2.0.25
WTForms==3.1.2
celery==5.4.0
gunicorn==23.0.0
pydub==0.25.1
opencv-python-headless==4.10.0.84
pillow==10.4.0
pydantic==2.9.2
python-dotenv==1.0.1
redis==5.2.0
requests==2.32.3
beautifulsoup4==4.12.3
openai==1.51.2
google-auth==2.36.0
google-auth-oauthlib==1.2.1
TikTokApi==6.5.2
tiktoken==0.8.0
pyktok==0.0.29
flask-restx==1.3.0
flask-jwt-extended==4.6.0
google-api-python-client==2.153.0
google-auth-httplib2==0.2.0
marshmallow==3.22.0
flask_mail==0.10.0
marshmallow_sqlalchemy==1.1.0
browser-cookie3==0.19.1
requests==2.32.3
httpx==0.27.2
kombu==5.4.2
numpy==2.0.2
pandas==2.2.3
pyarrow==17.0.0
tenacity==9.0.0
psycopg2-binary==2.9.10
Flask_Login==0.6.3
pytube==7.0.16
pygments==2.18.0
flask_mailman==1.1.1
ffmpeg-python==0.2.0